/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  color: #606D75;
  font-family: "Zen Kaku Gothic New";
}

h2 {
  font-size: 58px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

p {
  font-size: 16px;
}

span {
  display: inline-block;
  font-size: 14px;
}

li {
  list-style: none;
}

.page-wrap {
  display: flex;
}

.main-visual {
  background: url(../img/amy-hirschi-szrJ3wjzOMg-unsplash.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: calc(100vw - 170px);
  margin-bottom: 202px;
}

.header {
  background-color: #406FA9;
  color: #BFCFE3;
  height: 100vh;
  width: 170px;
  padding: 203px 0 244px;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header-nav__link {
  text-align: center;
  margin-bottom: 32px;
}
.header-nav__link:last-child {
  margin: 76px 0 23px;
}

.sns-link {
  display: flex;
  margin: 0 auto 0 25px;
}
.sns-link__icon {
  background-color: #406FA9;
  color: #BFCFE3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 0 2.5px 1.25px 1.25px #003F8E;
  margin: 0 6.5px 0;
}
.sns-link__icon:last-child {
  margin-right: 0;
}

.section-headline__sub {
  color: #606D75;
  font-weight: medium;
  margin-bottom: 8px;
}
.section-headline__sub-main {
  color: #406FA9;
  font-weight: medium;
}
.section-headline__main {
  color: #003F8E;
  font-weight: regular;
  padding: 80px 0 0 150px;
}

.web .section-headline {
  text-align: center;
}
.web-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
}
.web-content {
  width: 50%;
}
.web-content__img {
  width: 100%;
}

.skills .section-headline {
  text-align: center;
}
.skills-wrap {
  width: calc(100vw - 278px);
  margin: 54px 54px 0 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 36px;
}
.skills-content__img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.skills-content__title {
  font-family: "Zen Kaku Gothic New";
  font-weight: medium;
  margin: 8px 0;
}
.skills-content__description {
  font-family: "Zen Kaku Gothic New";
}

.works {
  max-width: 1080px;
}
.works1 {
  position: relative;
  height: 450px;
}
.works1__img {
  position: absolute;
  top: -300px;
  right: 120px;
  width: 680px;
  height: 390px;
  z-index: -1;
}
.works1-wrap {
  background-color: #F5F8F9;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 360px;
  width: 920px;
  margin: -500px 0 0 170px;
  z-index: 1;
}
.works1__headline {
  color: #606D75;
  font-weight: medium;
}
.works1__text {
  color: #406FA9;
  font-family: "Zen Kaku Gothic New";
  line-height: 30px;
}

.footer {
  background-color: #F5F8F9;
  color: #003F8E;
  padding-top: 96px;
  padding-bottom: 72px;
  text-align: center;
}
.footer .information {
  margin: 54px 0 80px;
}
/*# sourceMappingURL=style.css.map */